@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #F0EEED;
    color: #332C39;
    border-color: #609EA2;

    font-family: 'Roboto';
}